___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to 'Data Cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to 'Filling Data', in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation is done as well.
* **The third part** is related to 'Handling Outliers of Data' via Visualization libraries. So, some insights will be extracted.

**``NOTE:``**  However, you are free to create your own style. You do NOT have to stick to the steps above. We, the DA & DV instructors, recommend you study each part separately to create a source notebook for each part title for your further studies.

## PART- 1 `( Data Cleaning )`

In [1]:
# Importing required libraries, and setting up various options:

import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

%matplotlib inline

plt.rcParams["figure.figsize"] = (10,6)

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.2f' % x)

pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [2]:
# Reading the JSON file into Pandas:

df = pd.read_json("scout_car.json", lines=True)

In [3]:
# Seeing the first three rows of the dataframe:

df.head(3).T

,0,1,2
url,https://www.autoscout24.com//offers/audi-a1-sp...,https://www.autoscout24.com//offers/audi-a1-1-...,https://www.autoscout24.com//offers/audi-a1-sp...
make_model,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...
body_type,Sedans,Sedans,Sedans
price,15770,14500,14640
vat,VAT deductible,Price negotiable,VAT deductible
km,"56,013 km","80,000 km","83,450 km"
registration,01/2016,03/2017,02/2016
prev_owner,2 previous owners,None,1 previous owner
kW,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]"
Previous Owners,\n2\n,NaN,\n1\n
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN,NaN
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]"
Full Service,"[\n, \n]",NaN,NaN
Non-smoking Vehicle,"[\n, \n]",NaN,NaN
null,[],[],[]
Make,\nAudi\n,\nAudi\n,\nAudi\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
Offer Number,[\nLR-062483\n],NaN,[\nAM-95365\n]
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n]
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n]
Model Code,[\n0588/BDF\n],[\n0588/BCY\n],NaN
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]"
Cylinders,[\n3\n],[\n4\n],NaN
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN
Drive chain,[\nfront\n],[\nfront\n],[\nfront\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)],...","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)],...","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)],..."
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate ...","[Air conditioning, Automatic climate control, ...","[Air conditioning, Cruise control, Electrical ..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board com...","[Bluetooth, Hands-free equipment, On-board com...","[MP3, On-board computer]"
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Cont...","[Alloy wheels, Sport seats, Sport suspension, ...","[Alloy wheels, Voice Control]"
\nSafety & Security\n,"[ABS, Central door lock, Daytime running light...","[ABS, Central door lock, Central door lock wit...","[ABS, Central door lock, Daytime running light..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2..."
Emission Label,NaN,[\n4 (Green)\n],[\n4 (Green)\n]
Gears,NaN,[\n7\n],NaN
Country version,NaN,NaN,NaN
Electricity consumption,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN
Availability,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN
Available from,NaN,NaN,NaN

In [4]:
# Getting a concise summary of the dataframe:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [5]:
# Listing all columns:

df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', '\nComfort & Convenience\n',
       '\nEntertainment & Media\n', '\nExtras\n', '\nSafety & Security\n',
       'description', 'Emission Label', 'Gears', 'Country version',
       'Electricity consumption', 'Last Service Date', 'Other Fuel Types',
       'Availability', 'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [6]:
# Renaming inappropriate colunm names:

df.rename(columns={"\nComfort & Convenience\n": "Comfort_Convenience",
                   "\nEntertainment & Media\n": "Entertainment_Media",
                   "\nExtras\n": "Extras",
                   "\nSafety & Security\n": "Safety_Security"}, inplace=True)
df.columns

Index(['url', 'make_model', 'short_description', 'body_type', 'price', 'vat',
       'km', 'registration', 'prev_owner', 'kW', 'hp', 'Type',
       'Previous Owners', 'Next Inspection', 'Inspection new', 'Warranty',
       'Full Service', 'Non-smoking Vehicle', 'null', 'Make', 'Model',
       'Offer Number', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Body', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', 'Comfort_Convenience',
       'Entertainment_Media', 'Extras', 'Safety_Security', 'description',
       'Emission Label', 'Gears', 'Country version', 'Electricity consumption',
       'Last Service Date', 'Other Fuel Types', 'Availability',
       'Last Timing Belt Service Date', 'Available from'],
      dtype='object')

In [7]:
# Seeing the number of columns and rows:

df.shape

(15919, 54)

In [8]:
# Finding out the total number of null values each feature has:

df.isnull().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
Comfort_Convenience                920
Entertainment_Media               1374
Extras                            2962
Safety_Security                    982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

In [9]:
# Seeing the percentage of null values in each column:

missing_percent=(df.isnull().sum()*100 / len(df)).sort_values(ascending=False)
missing_percent

kW                              100.00
Last Timing Belt Service Date    99.90
Electricity consumption          99.14
Available from                   98.29
Last Service Date                96.44
Availability                     96.01
Other Fuel Types                 94.47
Next Inspection                  77.79
Inspection new                   75.30
Emission Label                   74.97
Model Code                       68.73
Non-smoking Vehicle              54.92
Country version                  52.35
Full Service                     48.39
Weight                           43.81
Drive chain                      43.08
prev_owner                       42.89
Previous Owners                  41.71
Paint Type                       36.26
Cylinders                        35.68
Warranty                         34.05
Gears                            29.60
vat                              28.35
Body Color Original              23.61
Upholstery                       23.37
Offer Number                     19.94
Emission Class                   18.98
Extras                           18.61
Consumption                      11.97
CO2 Emission                     11.36
First Registration               10.03
Entertainment_Media               8.63
Safety_Security                   6.17
Nr. of Seats                      6.14
Comfort_Convenience               5.78
Body Color                        3.75
Displacement                      3.12
Nr. of Doors                      1.33
Body                              0.38
body_type                         0.38
short_description                 0.29
Type                              0.01
Fuel                              0.00
Gearing Type                      0.00
make_model                        0.00
Model                             0.00
Make                              0.00
description                       0.00
null                              0.00
hp                                0.00
registration                      0.00
km                                0.00
price                             0.00
url                               0.00
dtype: float64

In [10]:
# A function can be defined to see the desired percentage of missing values in columns:

def percent_func(df, percent):
    missing_percent = df.isnull().sum()*100 / len(df)
    return (missing_percent.loc[lambda x: x >= percent]).sort_values(ascending=False)

In [11]:
# There are 7 columns that have null (missing) values more than %90. These columns can be dropped.

percent_func(df, 90)

kW                              100.00
Last Timing Belt Service Date    99.90
Electricity consumption          99.14
Available from                   98.29
Last Service Date                96.44
Availability                     96.01
Other Fuel Types                 94.47
dtype: float64

In [12]:
dropped_columns = percent_func(df, 90).index
dropped_columns

Index(['kW', 'Last Timing Belt Service Date', 'Electricity consumption',
       'Available from', 'Last Service Date', 'Availability',
       'Other Fuel Types'],
      dtype='object')

In [13]:
# Dropping columns in which more than 10% of values are missing:

df = df.dropna(thresh=len(df)*0.1, axis="columns")

# dropped_columns = percent_func(df, 90).index
# df.drop(dropped_columns, axis = 1, inplace = True)

In [14]:
# Dropping the column named "null" that contains an empty list:

df["null"].astype("str").value_counts(dropna=False)

[]    15919
Name: null, dtype: int64

In [15]:
df.drop("null", axis=1, inplace=True)

In [16]:
# Checking the remaining columns after dropping columns mentioned above:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 46 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   url                  15919 non-null  object
 1   make_model           15919 non-null  object
 2   short_description    15873 non-null  object
 3   body_type            15859 non-null  object
 4   price                15919 non-null  int64
 5   vat                  11406 non-null  object
 6   km                   15919 non-null  object
 7   registration         15919 non-null  object
 8   prev_owner           9091 non-null   object
 9   hp                   15919 non-null  object
 10  Type                 15917 non-null  object
 11  Previous Owners      9279 non-null   object
 12  Next Inspection      3535 non-null   object
 13  Inspection new       3932 non-null   object
 14  Warranty             10499 non-null  object
 15  Full Service         8215 non-null   object
 16  Non-smoking Vehicle  7177 non-null   object
 17  Make                 15919 non-null  object
 18  Model                15919 non-null  object
 19  Offer Number         12744 non-null  object
 20  First Registration   14322 non-null  object
 21  Body Color           15322 non-null  object
 22  Paint Type           10147 non-null  object
 23  Body Color Original  12160 non-null  object
 24  Upholstery           12199 non-null  object
 25  Body                 15859 non-null  object
 26  Nr. of Doors         15707 non-null  object
 27  Nr. of Seats         14942 non-null  object
 28  Model Code           4978 non-null   object
 29  Gearing Type         15919 non-null  object
 30  Displacement         15423 non-null  object
 31  Cylinders            10239 non-null  object
 32  Weight               8945 non-null   object
 33  Drive chain          9061 non-null   object
 34  Fuel                 15919 non-null  object
 35  Consumption          14013 non-null  object
 36  CO2 Emission         14111 non-null  object
 37  Emission Class       12898 non-null  object
 38  Comfort_Convenience  14999 non-null  object
 39  Entertainment_Media  14545 non-null  object
 40  Extras               12957 non-null  object
 41  Safety_Security      14937 non-null  object
 42  description          15919 non-null  object
 43  Emission Label       3985 non-null   object
 44  Gears                11207 non-null  object
 45  Country version      7586 non-null   object
dtypes: int64(1), object(45)
memory usage: 5.6+ MB

In [17]:
# There remained 46 columns after the first cleaning process:

df.shape

(15919, 46)

## Examining The Remaining Columns/Features

### Column 1: url

In [18]:
# The "url" column contains links to the webpages where the other columns containing relevant values were obtained from. 
# Therefore, this column does not contain any important data, and it can be dropped.

df.drop(columns = ["url"], inplace = True)

###  Column 2: make_model

In [19]:
# The "make_model" feature contains both manufacturer and model of cars:

df["make_model"].value_counts(dropna=False)

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

### Column 3: short_description

In [20]:
# Since this column contains data that can be found in other columns, it can be dropped:

df["short_description"].value_counts(dropna=False)

SPB 1.6 TDI 116 CV S tronic Sport                 64
NaN                                               46
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10002, dtype: int64

In [21]:
df.drop(columns = ["short_description"], inplace = True)

### Column 4: body_type

In [22]:
df.body_type.value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

### Column 5: price

In [23]:
# the "price" column is the target feature of our analysis:

df.price.value_counts(dropna=False)

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
17559      1
17560      1
17570      1
17575      1
39875      1
Name: price, Length: 2956, dtype: int64

In [24]:
# Generating descriptive statistics:

df.price.describe()

count   15919.00
mean    18019.90
std      7386.17
min        13.00
25%     12850.00
50%     16900.00
75%     21900.00
max     74600.00
Name: price, dtype: float64

In [25]:
# The "price" feature does not have any missing values.

df.price.isnull().sum()

0

### Column 6: vat

In [26]:
# Value-Added Tax (VAT) is a tax, which is payable on sales of goods or services within the EU.
# The tax, in all cases, is ultimately payable by the final consumer of the good or service.

df.vat.value_counts(dropna=False)

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

### Column 7: km

In [27]:
df.km.value_counts(dropna=False)

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [28]:
# Extracting the numeric values, and converting to float type:

df["km"] = df["km"].str.replace("," , "").str.findall("\d+").str[0].astype(float)
df["km"].head(3)

0   56013.00
1   80000.00
2   83450.00
Name: km, dtype: float64

In [29]:
df.km.value_counts(dropna=False)

10.00       1045
NaN         1024
1.00         367
5.00         170
50.00        148
            ...
67469.00       1
43197.00       1
10027.00       1
35882.00       1
57.00          1
Name: km, Length: 6690, dtype: int64

### Column 8: registration

In [30]:
# This column contains registration date by month and year:

df.registration.value_counts(dropna=False)

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

### Column 9: prev_owner

In [31]:
# This column shows how many times a car was sold before:

df.prev_owner.value_counts(dropna=False)

1 previous owner     8294
NaN                  6828
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

### Column 10: hp

In [32]:
# This column contains horsepower data of cars:

df.hp.value_counts(dropna=False)

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
70 kW      888
125 kW     707
51 kW      695
55 kW      569
118 kW     516
92 kW      466
121 kW     392
147 kW     380
77 kW      345
56 kW      286
54 kW      276
103 kW     253
87 kW      232
165 kW     194
88 kW      177
60 kW      160
162 kW      98
- kW        88
74 kW       81
96 kW       72
71 kW       59
101 kW      47
67 kW       40
154 kW      39
122 kW      35
119 kW      30
164 kW      27
135 kW      24
82 kW       22
52 kW       22
78 kW       20
1 kW        20
294 kW      18
146 kW      18
141 kW      16
57 kW       10
104 kW       8
120 kW       8
191 kW       7
112 kW       7
155 kW       6
117 kW       6
184 kW       5
90 kW        4
76 kW        4
65 kW        4
149 kW       3
80 kW        3
168 kW       3
98 kW        3
93 kW        3
228 kW       2
270 kW       2
53 kW        2
140 kW       2
86 kW        2
167 kW       2
127 kW       2
89 kW        2
143 kW       2
63 kW        2
40 kW        2
150 kW       2
163 kW       1
115 kW       1
132 kW       1
75 kW        1
4 kW         1
137 kW       1
123 kW       1
133 kW       1
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, dtype: int64

In [33]:
# Extracting the numeric values, converting to float type, and creating a new column named "hp_kw":

df["hp_kw"] = df.hp.str.extract("(\d+)").astype("float")
df["hp_kw"].value_counts(dropna=False)

85.00     2542
66.00     2122
81.00     1402
100.00    1308
110.00    1112
70.00      888
125.00     707
51.00      695
55.00      569
118.00     516
92.00      466
121.00     392
147.00     380
77.00      345
56.00      286
54.00      276
103.00     253
87.00      232
165.00     194
88.00      177
60.00      160
162.00      98
NaN         88
74.00       81
96.00       72
71.00       59
101.00      47
67.00       40
154.00      39
122.00      35
119.00      30
164.00      27
135.00      24
82.00       22
52.00       22
78.00       20
1.00        20
294.00      18
146.00      18
141.00      16
57.00       10
104.00       8
120.00       8
191.00       7
112.00       7
155.00       6
117.00       6
184.00       5
90.00        4
76.00        4
65.00        4
149.00       3
80.00        3
168.00       3
98.00        3
93.00        3
228.00       2
270.00       2
53.00        2
140.00       2
86.00        2
167.00       2
127.00       2
89.00        2
143.00       2
63.00        2
40.00        2
150.00       2
163.00       1
115.00       1
132.00       1
75.00        1
4.00         1
137.00       1
123.00       1
133.00       1
84.00        1
195.00       1
44.00        1
239.00       1
9.00         1
Name: hp_kw, dtype: int64

In [34]:
# Dropping the "hp" column:

df.drop("hp", axis=1, inplace=True)

### Column 11: Type

In [35]:
df.Type.astype("str").value_counts(dropna=False)

['', 'Used', '', 'Diesel (Particulate Filter)']                                                                                 3475
['', 'Used', '', 'Diesel']                                                                                                      2516
['', 'Used', '', 'Gasoline']                                                                                                    2367
['', 'Used', '', 'Super 95']                                                                                                    1818
['', 'Pre-registered', '', 'Super 95']                                                                                           500
                                                                                                                                ...
['', 'New', '', 'Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95']       1
['', 'Used', '', 'Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)']                               1
['', 'Demonstration', '', 'Super Plus 98']                                                                                         1
['', 'New', '', 'Super Plus E10 98']                                                                                               1
['', 'Demonstration', '', 'Regular/Benzine E10 91']                                                                                1
Name: Type, Length: 170, dtype: int64

In [36]:
# Extracting the type of cars:

df["type"] = df.Type.str[1]
df.drop(columns="Type", inplace=True)
df["type"].value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: type, dtype: int64

### Column 12: Previous Owners

In [37]:
df["Previous Owners"].astype("str").value_counts(dropna=False)

\n1\n                                                                                                        8101
nan                                                                                                          6640
\n2\n                                                                                                         766
\n0\n                                                                                                         163
\n3\n                                                                                                          17
                                                                                                             ...
['\n1\n', '\n111 g CO2/km (comb)\n']                                                                            1
['\n1\n', '\nEuro 6\n']                                                                                         1
['\n2\n', '\n119 g CO2/km (comb)\n']                                                                            1
['\n1\n', '\n', '6.6 l/100 km (comb)', '\n', '8.1 l/100 km (city)', '\n', '5.7 l/100 km (country)', '\n']       1
['\n2\n', '\n137 g CO2/km (comb)\n']                                                                            1
Name: Previous Owners, Length: 103, dtype: int64

In [38]:
# Creating a new column named "previous_owners" with list comprehension:

df["previous_owners"] = [item[0] if type(item) == list else item for item in df["Previous Owners"]]
df["previous_owners"]

0        \n2\n
1          NaN
2        \n1\n
3        \n1\n
4        \n1\n
         ...
15914      NaN
15915    \n1\n
15916    \n1\n
15917      NaN
15918    \n1\n
Name: previous_owners, Length: 15919, dtype: object

In [39]:
# Extracting the numeric values, and converting to float type:

df.previous_owners = df.previous_owners.str.strip("\n").astype("float")
df.previous_owners.value_counts(dropna=False)

1.00    8294
NaN     6640
2.00     778
0.00     188
3.00      17
4.00       2
Name: previous_owners, dtype: int64

In [40]:
# Dropping the "Previous Owners" column:

df.drop(["Previous Owners"], axis=1, inplace=True)

In [41]:
# The "previous_owners" column has less null values (6640).
# Drop the "prev_owner" column (Column 9), since it has more null values (6828 vs. 6640):

df.drop(["prev_owner"], axis=1, inplace=True)

### Column 13: Next Inspection

In [42]:
df["Next Inspection"].astype("str").value_counts(dropna=False)

nan                                           12384
\n04/2022\n                                      62
\n03/2021\n                                      38
\n03/2022\n                                      36
\n06/2021\n                                      34
                                              ...
['\n12/2018\n', '\n97 g CO2/km (comb)\n']         1
['\n03/2022\n', '\n1 (No sticker)\n']             1
['\n05/2021\n', '\n93 g CO2/km (comb)\n']         1
['\n06/2021\n', '\n93 g CO2/km (comb)\n']         1
['\n01/2022\n', '\n168 g CO2/km (comb)\n']        1
Name: Next Inspection, Length: 1400, dtype: int64

### Column 14: Inspection new

In [43]:
df["Inspection new"].astype("str").value_counts(dropna=False)

nan                                                                                                            11987
['\nYes\n', '\nEuro 6\n']                                                                                        523
\nYes\n                                                                                                          362
['\nYes\n', '\n102 g CO2/km (comb)\n']                                                                           174
['\nYes\n', '\n4 (Green)\n']                                                                                     166
                                                                                                               ...
['\nYes\n', '\n', '6 l/100 km (comb)', '\n', '8 l/100 km (city)', '\n', '4.9 l/100 km (country)', '\n']            1
['\nYes\n', '\n', '6.8 l/100 km (comb)', '\n', '8.5 l/100 km (city)', '\n', '6.1 l/100 km (country)', '\n']        1
['\nYes\n', '\n', '4.1 l/100 km (comb)', '\n', '7.5 l/100 km (city)', '\n', '5.2 l/100 km (country)', '\n']        1
['\nYes\n', '\n', '5.2 l/100 km (comb)', '\n', '6.8 l/100 km (city)', '\n', '4.3 l/100 km (country)', '\n']        1
['\nYes\n', '\n172 g CO2/km (comb)\n']                                                                             1
Name: Inspection new, Length: 203, dtype: int64

In [44]:
# Creating a new column named "inspection_new" with list comprehension.
# Extracting the values.

df["inspection_new"] = [item[0] if type(item) == list else item for item in df["Inspection new"]]
df["inspection_new"] = df["inspection_new"].str.strip("\n")
df["inspection_new"].value_counts(dropna=False)

NaN    11987
Yes     3932
Name: inspection_new, dtype: int64

In [45]:
# "Next Inspection" has more null values (12384) than "Inspection new", which has 11987 null values.
# We kept the renamed "inspection_new" feature, and dropped "Next Inspection".

df.drop(["Next Inspection", "Inspection new"], axis=1, inplace=True)

### Column 15: Warranty

In [46]:
# This column includes data as to warranty of cars by month.

df.Warranty.astype("str").value_counts(dropna=False)

nan                                                                                                                5420
['\n', '\n', '\nEuro 6\n']                                                                                         1868
\n12 months\n                                                                                                      1177
\n                                                                                                                  979
\n24 months\n                                                                                                       566
                                                                                                                   ...
['\n72 months\n', '\n125 g CO2/km (comb)\n']                                                                          1
['\n60 months\n', '\n14 g CO2/km (comb)\n']                                                                           1
['\n24 months\n', '\n121 g CO2/km (comb)\n']                                                                          1
['\n12 months\n', '\nEuro 6d\n']                                                                                      1
['\n36 months\n', '\n', '7.4 l/100 km (comb)', '\n', '9.6 l/100 km (city)', '\n', '6 l/100 km (country)', '\n']       1
Name: Warranty, Length: 516, dtype: int64

In [47]:
# Extracting the numerical values into the renamed column, and converting to float type.

df["warranty"] = df.Warranty.apply(lambda x : x[0] if type(x)==list else x)
df["warranty"] = df.warranty.str.strip("\n").str.extract('(\d+)').astype("float")
df.drop(["Warranty"], axis=1, inplace=True)
df.warranty.value_counts(dropna=False)

NaN      11066
12.00     2594
24.00     1118
60.00      401
36.00      279
48.00      149
6.00       125
72.00       59
3.00        33
23.00       11
18.00       10
20.00        7
25.00        6
2.00         5
50.00        4
26.00        4
16.00        4
4.00         3
1.00         3
19.00        3
34.00        3
13.00        3
28.00        2
22.00        2
14.00        2
11.00        2
46.00        2
21.00        2
9.00         2
17.00        2
45.00        2
33.00        1
40.00        1
65.00        1
10.00        1
15.00        1
7.00         1
8.00         1
56.00        1
49.00        1
47.00        1
30.00        1
Name: warranty, dtype: int64

In [48]:
df["warranty"].value_counts(dropna=False)

NaN      11066
12.00     2594
24.00     1118
60.00      401
36.00      279
48.00      149
6.00       125
72.00       59
3.00        33
23.00       11
18.00       10
20.00        7
25.00        6
2.00         5
50.00        4
26.00        4
16.00        4
4.00         3
1.00         3
19.00        3
34.00        3
13.00        3
28.00        2
22.00        2
14.00        2
11.00        2
46.00        2
21.00        2
9.00         2
17.00        2
45.00        2
33.00        1
40.00        1
65.00        1
10.00        1
15.00        1
7.00         1
8.00         1
56.00        1
49.00        1
47.00        1
30.00        1
Name: warranty, dtype: int64

### Column 16: Full Service

In [49]:
# This column does not have relevant data, so it can be dropped.

df["Full Service"].astype("str").value_counts(dropna=False)

nan                                                                                                             7704
['\n', '\n', '\n4 (Green)\n']                                                                                   2235
['\n', '\n', '\nEuro 6\n']                                                                                      2097
['\n', '\n']                                                                                                    1702
['\n', '\n', '\nEuro 6d-TEMP\n']                                                                                 399
                                                                                                                ...
['\n', '\n', '\n80 g CO2/km (comb)\n']                                                                             1
['\n', '\n', '\n84 g CO2/km (comb)\n']                                                                             1
['\n', '\n', '\n', '6 l/100 km (comb)', '\n', '8 l/100 km (city)', '\n', '4.9 l/100 km (country)', '\n']           1
['\n', '\n', '\n', '4.9 l/100 km (comb)', '\n', '6.2 l/100 km (city)', '\n', '4.1 l/100 km (country)', '\n']       1
['\n', '\n', '\nEuro 4\n']                                                                                         1
Name: Full Service, Length: 123, dtype: int64

In [50]:
df.drop("Full Service", axis=1, inplace=True)

### Column 17: Non-smoking Vehicle

In [51]:
# This column does not contain relevant data, so it can be dropped.

df["Non-smoking Vehicle"].astype("str").value_counts(dropna=False).head()

nan                                 8742
['\n', '\n']                        3647
['\n', '\n', '\n4 (Green)\n']       1240
['\n', '\n', '\nEuro 6\n']          1127
['\n', '\n', '\nEuro 6d-TEMP\n']     345
Name: Non-smoking Vehicle, dtype: int64

In [52]:
df.drop("Non-smoking Vehicle", axis=1, inplace=True)

In [53]:
# This column contains car manufacturers' names as in the "make_model" feature (Column 2), so it can be dropped.

df["Make"].value_counts(dropna=False)

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

### Column 18: Make

In [54]:
df["Make"] = df.Make.str.strip("\n")
df["Make"].value_counts(dropna=False)

Opel       7343
Audi       5712
Renault    2864
Name: Make, dtype: int64

In [55]:
# We dropped the "Make" column.

df.drop("Make", axis=1, inplace=True)

### Column 19 : Model

In [56]:
# This column contains model names of cars as in the "make_model" feature (Column 2), so it can be dropped.

df["Model"].astype("str").value_counts(dropna=False)

['\n', 'A3', '\n']          3097
['\n', 'A1', '\n']          2614
['\n', 'Insignia', '\n']    2598
['\n', 'Astra', '\n']       2526
['\n', 'Corsa', '\n']       2219
['\n', 'Clio', '\n']        1839
['\n', 'Espace', '\n']       991
['\n', 'Duster', '\n']        34
['\n', 'A2', '\n']             1
Name: Model, dtype: int64

In [57]:
df.Model = df.Model.str[1]
df.Model.value_counts(dropna=False)

A3          3097
A1          2614
Insignia    2598
Astra       2526
Corsa       2219
Clio        1839
Espace       991
Duster        34
A2             1
Name: Model, dtype: int64

In [58]:
# We dropped the "Model" column.

df.drop(columns = ["Model"], inplace = True)

### Column 20: Offer Number

In [59]:
# This column does not have any data relevant to our analysis, so it can be dropped.

df["Offer Number"].astype("str").value_counts(dropna=False)

nan                                                 3175
['\nLT67679\n']                                       27
['\nUN89904\n']                                       27
['\nXJ38068\n']                                       27
['\nJV03654\n']                                       27
                                                    ...
['\n160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b\n']       1
['\n6701576\n']                                        1
['\n6701569\n']                                        1
['\n158121\n']                                         1
['\nRe_30000008029\n']                                 1
Name: Offer Number, Length: 11441, dtype: int64

In [60]:
# We dropped the "Offer Number" column.

df.drop("Offer Number", axis=1, inplace=True)

### Column 21: First Registration

In [61]:
# This column contains registration years of cars.

df["First Registration"].astype("str").value_counts(dropna=False)

['\n', '2018', '\n']    4522
['\n', '2016', '\n']    3674
['\n', '2017', '\n']    3273
['\n', '2019', '\n']    2853
nan                     1597
Name: First Registration, dtype: int64

In [62]:
# Extract the numerical values into the renamed column, and convert to float type.

df["first_registration"] = df["First Registration"].str[1].astype("float")
df.drop(["First Registration"], axis=1, inplace=True)
df["first_registration"].value_counts(dropna=False)

2018.00    4522
2016.00    3674
2017.00    3273
2019.00    2853
NaN        1597
Name: first_registration, dtype: int64

In [63]:
# The "first_registration" column is enough to run our analysis. 
# We dropped the "registration" column, which has month values together with year values (Column 8), .

df.drop(["registration"], axis=1, inplace=True)

In [64]:
# We created a new feature named "age" that is necessary to our analysis.
# The data obtained in 2019, so we used 2019 to calculate the "age" feature.

df["age"] = 2019 - df["first_registration"]
df.age.value_counts(dropna=False)

1.00    4522
3.00    3674
2.00    3273
0.00    2853
NaN     1597
Name: age, dtype: int64

In [65]:
# We dropped the "first_registration" column that is not needed anymore.
 
df.drop(columns="first_registration", inplace=True)

### Column 22: Body Color

In [66]:
# This column contains the color of cars.

df["Body Color"].astype("str").value_counts(dropna=False)

['\n', 'Black', '\n']     3745
['\n', 'Grey', '\n']      3505
['\n', 'White', '\n']     3406
['\n', 'Silver', '\n']    1647
['\n', 'Blue', '\n']      1431
['\n', 'Red', '\n']        957
nan                        597
['\n', 'Brown', '\n']      289
['\n', 'Green', '\n']      154
['\n', 'Beige', '\n']      108
['\n', 'Yellow', '\n']      51
['\n', 'Violet', '\n']      18
['\n', 'Bronze', '\n']       6
['\n', 'Orange', '\n']       3
['\n', 'Gold', '\n']         2
Name: Body Color, dtype: int64

In [67]:
# Extracting the values into a renamed column, and dropping the old column.

df["body_color"] = df["Body Color"].str[1]
df.drop("Body Color", axis=1, inplace=True)
df.body_color.value_counts(dropna=False)

Black     3745
Grey      3505
White     3406
Silver    1647
Blue      1431
Red        957
NaN        597
Brown      289
Green      154
Beige      108
Yellow      51
Violet      18
Bronze       6
Orange       3
Gold         2
Name: body_color, dtype: int64

### Column 23: Paint Type

In [68]:
df["Paint Type"].astype("str").value_counts(dropna=False)

['\nMetallic\n']       9794
nan                    5772
['\nUni/basic\n']       347
['\nPerl effect\n']       6
Name: Paint Type, dtype: int64

In [69]:
df["paint_type"] = df["Paint Type"].str[0].str.strip("\n")
df.drop("Paint Type", axis=1, inplace=True)
df["paint_type"].value_counts(dropna=False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: paint_type, dtype: int64

### Column 24: Body Color Original

In [70]:
df["Body Color Original"].astype("str").value_counts(dropna=False)

nan                                      3759
['\nOnyx Schwarz\n']                      338
['\nBianco\n']                            282
['\nMythosschwarz Metallic\n']            238
['\nBrillantschwarz\n']                   216
                                         ...
['\nRouge-Braun (G0Y)\n']                   1
['\nVARI COLRI DISPONIBILI\n']              1
['\nKokosnussbraun Metallic\n']             1
['\nFarbe frei wählbar\n']                  1
['\nPerlmutt-Weiß Metallic (Weiß)\n']       1
Name: Body Color Original, Length: 1928, dtype: int64

In [71]:
# The "Body Color Original" column does not have important data for our analysis, so it can be dropped.

df.drop("Body Color Original", axis=1, inplace=True)

### Column 25: Upholstery

In [72]:
# This column contains both color and type of upholstery of cars.

df.Upholstery.astype("str").value_counts(dropna=False)

['\nCloth, Black\n']           5821
nan                            3720
['\nPart leather, Black\n']    1121
['\nCloth\n']                  1005
['\nCloth, Grey\n']             891
['\nCloth, Other\n']            639
['\nFull leather, Black\n']     575
['\nBlack\n']                   491
['\nGrey\n']                    273
['\nOther, Other\n']            182
['\nPart leather\n']            140
['\nFull leather\n']            139
['\nFull leather, Brown\n']     116
['\nPart leather, Grey\n']      116
['\nOther, Black\n']            110
['\nFull leather, Other\n']      72
['\nFull leather, Grey\n']       67
['\nPart leather, Other\n']      65
['\nOther\n']                    56
['\nPart leather, Brown\n']      50
['\nalcantara, Black\n']         47
['\nVelour, Black\n']            36
['\nFull leather, Beige\n']      36
['\nCloth, Brown\n']             28
['\nVelour\n']                   16
['\nOther, Grey\n']              15
['\nCloth, Beige\n']             13
['\nBrown\n']                    12
['\nCloth, Blue\n']              12
['\nVelour, Grey\n']              8
['\nCloth, White\n']              8
['\nalcantara, Grey\n']           6
['\nCloth, Red\n']                5
['\nOther, Yellow\n']             4
['\nPart leather, Red\n']         3
['\nBeige\n']                     3
['\nPart leather, White\n']       2
['\nFull leather, Blue\n']        2
['\nalcantara, Other\n']          2
['\nalcantara\n']                 2
['\nWhite\n']                     2
['\nPart leather, Beige\n']       2
['\nBlue\n']                      2
['\nCloth, Orange\n']             1
['\nFull leather, Red\n']         1
['\nOther, Brown\n']              1
['\nFull leather, White\n']       1
Name: Upholstery, dtype: int64

In [73]:
# Extracting records.

df["Upholstery"] = df.Upholstery.apply(lambda x: x[0] if type(x) == list else x).str.strip("\n").str.split(", ")

In [74]:
df["Upholstery"].astype("str").value_counts(dropna=False)

['Cloth', 'Black']           5821
nan                          3720
['Part leather', 'Black']    1121
['Cloth']                    1005
['Cloth', 'Grey']             891
['Cloth', 'Other']            639
['Full leather', 'Black']     575
['Black']                     491
['Grey']                      273
['Other', 'Other']            182
['Part leather']              140
['Full leather']              139
['Full leather', 'Brown']     116
['Part leather', 'Grey']      116
['Other', 'Black']            110
['Full leather', 'Other']      72
['Full leather', 'Grey']       67
['Part leather', 'Other']      65
['Other']                      56
['Part leather', 'Brown']      50
['alcantara', 'Black']         47
['Velour', 'Black']            36
['Full leather', 'Beige']      36
['Cloth', 'Brown']             28
['Velour']                     16
['Other', 'Grey']              15
['Cloth', 'Beige']             13
['Brown']                      12
['Cloth', 'Blue']              12
['Velour', 'Grey']              8
['Cloth', 'White']              8
['alcantara', 'Grey']           6
['Cloth', 'Red']                5
['Other', 'Yellow']             4
['Part leather', 'Red']         3
['Beige']                       3
['Part leather', 'White']       2
['Full leather', 'Blue']        2
['alcantara', 'Other']          2
['alcantara']                   2
['White']                       2
['Part leather', 'Beige']       2
['Blue']                        2
['Cloth', 'Orange']             1
['Full leather', 'Red']         1
['Other', 'Brown']              1
['Full leather', 'White']       1
Name: Upholstery, dtype: int64

In [75]:
# We created a new feature named "upholstery_type" to use in our future anaylsis.

uptype = ["Cloth", "Part leather", "Full leather", "Velour", "alcantara"] 
df["upholstery_type"] = df["Upholstery"].apply(lambda x : x[0] if type(x) == list and x[0] in uptype else np.nan)

In [76]:
df["upholstery_type"].value_counts(dropna=False)

Cloth           8423
NaN             4871
Part leather    1499
Full leather    1009
Velour            60
alcantara         57
Name: upholstery_type, dtype: int64

In [77]:
# We created a new feature named "upholstery_color" to use in our future anaylsis.

upcolor = ["Black", "Grey", "Brown", "Beige", "Blue", "White", "Red", "Yellow", "Orange"]

def color_func(x):
    if type(x) == list and len(x) == 2:
        return x[1]
    elif type(x) == list and x[0] in upcolor:
        return x[0]
    else:
        return np.nan
    
df["upholstery_color"] = df.Upholstery.apply(color_func)

In [78]:
# We dropped the "first_registration" column that is not needed anymore.df["upholstery_color"].value_counts(dropna=False)

In [79]:
# We dropped the "Upholstery" column that is not needed anymore.

df.drop(["Upholstery"], axis=1, inplace=True)

### Column 26: Body

In [80]:
# This column contains body types of cars as in the "body_type" column (Column 4).

df.Body.astype("str").value_counts(dropna=False)

['\n', 'Sedans', '\n']           7903
['\n', 'Station wagon', '\n']    3553
['\n', 'Compact', '\n']          3153
['\n', 'Van', '\n']               783
['\n', 'Other', '\n']             290
['\n', 'Transporter', '\n']        88
nan                                60
['\n', 'Off-Road', '\n']           56
['\n', 'Coupe', '\n']              25
['\n', 'Convertible', '\n']         8
Name: Body, dtype: int64

In [81]:
df.Body = df.Body.str[1]
df.Body.value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: Body, dtype: int64

In [82]:
# We dropped the "Body" column since it has the same values with the "body_type" column (Column 4).

df.drop("Body", axis = 1, inplace = True)

### Column 27: Nr. of Doors

In [83]:
# This column shows how many doors a car has.

df["Nr. of Doors"].astype("str").value_counts(dropna=False)

['\n5\n']    11575
['\n4\n']     3079
['\n3\n']      832
['\n2\n']      219
nan            212
['\n1\n']        1
['\n7\n']        1
Name: Nr. of Doors, dtype: int64

In [84]:
# Extracting the numerical values into a renamed column, converting to float type, and dropping the old column.

df["nr_of_doors"] = df["Nr. of Doors"].str[0].str.strip("\n").astype("float")
df.drop("Nr. of Doors", axis = 1, inplace = True)
df["nr_of_doors"].value_counts(dropna=False)

5.00    11575
4.00     3079
3.00      832
2.00      219
NaN       212
1.00        1
7.00        1
Name: nr_of_doors, dtype: int64

### Column 28: Nr. of Seats

In [85]:
# This column shows how many seats a car has.

df["Nr. of Seats"].astype("str").value_counts(dropna=False)

['\n5\n']    13336
['\n4\n']     1125
nan            977
['\n7\n']      362
['\n2\n']      116
['\n6\n']        2
['\n3\n']        1
Name: Nr. of Seats, dtype: int64

In [86]:
# Extracting the numerical values into a renamed column, converting to float type, and dropping the old column.""

df["nr_of_seats"] = df["Nr. of Seats"].str[0].str.strip("\n").astype("float")
df.drop("Nr. of Seats", axis = 1, inplace = True)
df.nr_of_seats.value_counts(dropna=False)

5.00    13336
4.00     1125
NaN       977
7.00      362
2.00      116
6.00        2
3.00        1
Name: nr_of_seats, dtype: int64

### Column 29: Model Code

In [87]:
# This column contains irrelevant data, it can be dropped.

df["Model Code"].astype("str").value_counts(dropna=False)

nan                 10941
['\n0035/BCB\n']      268
['\n0588/BNO\n']      245
['\n0588/BDB\n']      206
['\n0588/BHX\n']      188
                    ...
['\n0035/AVN\n']        1
['\n0035/BEM\n']        1
['\n0035/BAG\n']        1
['\n0035/BAA\n']        1
['\n3333/BKG\n']        1
Name: Model Code, Length: 233, dtype: int64

In [88]:
#  We dropped the Model Code" column as it includes irrelevant data.

df.drop("Model Code", axis=1, inplace=True)

### Column 30: Gearing Type

In [89]:
# This column contains data as to gearing type of cars.

df["Gearing Type"].astype("str").value_counts(dropna=False)

['\n', 'Manual', '\n']            8153
['\n', 'Automatic', '\n']         7297
['\n', 'Semi-automatic', '\n']     469
Name: Gearing Type, dtype: int64

In [90]:
# Extracting the records into a renamed column, and dropping the old column.

df["gearing_type"] = df["Gearing Type"].str[1]
df.drop("Gearing Type", axis = 1, inplace = True)
df.gearing_type.value_counts(dropna=False)

Manual            8153
Automatic         7297
Semi-automatic     469
Name: gearing_type, dtype: int64

### Column 31: Displacement

In [91]:
df["Displacement"].astype("str").value_counts(dropna=False)

['\n1,598 cc\n']     4761
['\n999 cc\n']       2438
['\n1,398 cc\n']     1314
['\n1,399 cc\n']      749
['\n1,229 cc\n']      677
['\n1,956 cc\n']      670
['\n1,461 cc\n']      595
['\n1,490 cc\n']      559
nan                   496
['\n1,422 cc\n']      467
['\n1,197 cc\n']      353
['\n898 cc\n']        351
['\n1,395 cc\n']      320
['\n1,968 cc\n']      301
['\n1,149 cc\n']      288
['\n1,618 cc\n']      212
['\n1,798 cc\n']      210
['\n1,498 cc\n']      196
['\n1,600 cc\n']      130
['\n1,248 cc\n']      110
['\n1,997 cc\n']      103
['\n1,364 cc\n']      102
['\n1,400 cc\n']       90
['\n998 cc\n']         72
['\n1,500 cc\n']       50
['\n2,000 cc\n']       46
['\n1,000 cc\n']       40
['\n1 cc\n']           36
['\n1,998 cc\n']       25
['\n2,480 cc\n']       20
['\n1,200 cc\n']       18
['\n1,984 cc\n']       18
['\n1,397 cc\n']       11
['\n899 cc\n']         11
['\n160 cc\n']          6
['\n929 cc\n']          5
['\n1,499 cc\n']        5
['\n997 cc\n']          4
['\n1,596 cc\n']        4
['\n139 cc\n']          4
['\n900 cc\n']          4
['\n1,599 cc\n']        3
['\n1,199 cc\n']        3
['\n1,396 cc\n']        3
['\n1,495 cc\n']        2
['\n1,589 cc\n']        2
['\n1,300 cc\n']        2
['\n2 cc\n']            2
['\n995 cc\n']          2
['\n1,496 cc\n']        1
['\n890 cc\n']          1
['\n1,580 cc\n']        1
['\n1,995 cc\n']        1
['\n1,333 cc\n']        1
['\n54 cc\n']           1
['\n1,533 cc\n']        1
['\n1,100 cc\n']        1
['\n1,350 cc\n']        1
['\n16,000 cc\n']       1
['\n1,856 cc\n']        1
['\n1,568 cc\n']        1
['\n1,896 cc\n']        1
['\n1,584 cc\n']        1
['\n996 cc\n']          1
['\n1,696 cc\n']        1
['\n1,686 cc\n']        1
['\n15,898 cc\n']       1
['\n1,368 cc\n']        1
['\n140 cc\n']          1
['\n973 cc\n']          1
['\n1,239 cc\n']        1
['\n1,369 cc\n']        1
['\n1,390 cc\n']        1
['\n122 cc\n']          1
['\n1,198 cc\n']        1
['\n1,195 cc\n']        1
['\n2,967 cc\n']        1
['\n1,800 cc\n']        1
Name: Displacement, dtype: int64

In [92]:
df["displacement_cc"] = df.Displacement.str[0].str.strip("\n").str.replace(",", "").str.extract("(\d{1,5})").astype("float")
df.drop("Displacement", axis = 1, inplace = True)
df.displacement_cc.value_counts(dropna=False)

1598.00     4761
999.00      2438
1398.00     1314
1399.00      749
1229.00      677
1956.00      670
1461.00      595
1490.00      559
NaN          496
1422.00      467
1197.00      353
898.00       351
1395.00      320
1968.00      301
1149.00      288
1618.00      212
1798.00      210
1498.00      196
1600.00      130
1248.00      110
1997.00      103
1364.00      102
1400.00       90
998.00        72
1500.00       50
2000.00       46
1000.00       40
1.00          36
1998.00       25
2480.00       20
1200.00       18
1984.00       18
1397.00       11
899.00        11
160.00         6
929.00         5
1499.00        5
997.00         4
1596.00        4
139.00         4
900.00         4
1599.00        3
1199.00        3
1396.00        3
1495.00        2
1589.00        2
1300.00        2
2.00           2
995.00         2
1496.00        1
890.00         1
1580.00        1
1995.00        1
1333.00        1
54.00          1
1533.00        1
1100.00        1
1350.00        1
16000.00       1
1856.00        1
1568.00        1
1896.00        1
1584.00        1
996.00         1
1696.00        1
1686.00        1
15898.00       1
1368.00        1
140.00         1
973.00         1
1239.00        1
1369.00        1
1390.00        1
122.00         1
1198.00        1
1195.00        1
2967.00        1
1800.00        1
Name: displacement_cc, dtype: int64

### Column 32: Cylinders

In [93]:
df["Cylinders"].astype("str").value_counts(dropna=False)

['\n4\n']    8105
nan          5680
['\n3\n']    2104
['\n5\n']      22
['\n6\n']       3
['\n8\n']       2
['\n2\n']       2
['\n1\n']       1
Name: Cylinders, dtype: int64

In [94]:
df["cylinders"] = df.Cylinders.str[0].str.strip("\n").astype("float")
df.drop("Cylinders", axis = 1, inplace = True)
df.cylinders.value_counts(dropna=False)

4.00    8105
NaN     5680
3.00    2104
5.00      22
6.00       3
8.00       2
2.00       2
1.00       1
Name: cylinders, dtype: int64

### Column 33: Weight

In [95]:
df["Weight"].astype("str").value_counts(dropna=False)

nan                 6974
['\n1,163 kg\n']     574
['\n1,360 kg\n']     356
['\n1,165 kg\n']     301
['\n1,335 kg\n']     242
                    ...
['\n1,960 kg\n']       1
['\n1,258 kg\n']       1
['\n1,167 kg\n']       1
['\n1,331 kg\n']       1
['\n2,037 kg\n']       1
Name: Weight, Length: 435, dtype: int64

In [96]:
df["weight_kg"] = df["Weight"].str[0].str.replace(",", "").str.findall("\d+").str[0].astype("float")
df.drop("Weight", axis = 1, inplace = True)
df.weight_kg.value_counts(dropna=False)

NaN        6974
1163.00     574
1360.00     356
1165.00     301
1335.00     242
           ...
1960.00       1
1258.00       1
1167.00       1
1331.00       1
2037.00       1
Name: weight_kg, Length: 435, dtype: int64

### Column 34: Drive chain

In [97]:
df["Drive chain"].astype("str").value_counts(dropna=False)

['\nfront\n']    8886
nan              6858
['\n4WD\n']       171
['\nrear\n']        4
Name: Drive chain, dtype: int64

In [98]:
df["drive_chain"] = df["Drive chain"].str[0].str.strip("\n")
df.drop("Drive chain", axis = 1, inplace = True)
df.drive_chain.value_counts(dropna=False)

front    8886
NaN      6858
4WD       171
rear        4
Name: drive_chain, dtype: int64

### Column 35: Fuel

In [99]:
df["Fuel"].astype("str").value_counts(dropna=False).head()

['\n', 'Diesel (Particulate Filter)', '\n']      4315
['\n', 'Super 95', '\n']                         3338
['\n', 'Gasoline', '\n']                         3175
['\n', 'Diesel', '\n']                           2984
['\n', 'Super 95 / Regular/Benzine 91', '\n']     424
Name: Fuel, dtype: int64

In [100]:
df["fuel"] = df.Fuel.str[1].str.split("/").str[0].str.strip()
df.drop("Fuel", axis = 1, inplace = True)
df.fuel.value_counts(dropna=False)

Diesel (Particulate Filter)          4315
Super 95                             4100
Gasoline                             3175
Diesel                               2984
Regular                               503
Super E10 95                          402
Super 95 (Particulate Filter)         268
Gasoline (Particulate Filter)          77
CNG                                    33
LPG                                    16
Super Plus 98                          11
Liquid petroleum gas (LPG)             10
Super E10 95 (Particulate Filter)       7
Electric                                5
Others                                  5
CNG (Particulate Filter)                3
Super Plus E10 98                       2
Others (Particulate Filter)             1
Biogas                                  1
Domestic gas H                          1
Name: fuel, dtype: int64

In [101]:
df["fuel"] = df.fuel.str.split("(").str[0].str.strip()
df.fuel.value_counts(dropna=False)

Diesel                  7299
Super 95                4368
Gasoline                3252
Regular                  503
Super E10 95             409
CNG                       36
LPG                       16
Super Plus 98             11
Liquid petroleum gas      10
Others                     6
Electric                   5
Super Plus E10 98          2
Biogas                     1
Domestic gas H             1
Name: fuel, dtype: int64

In [102]:
benzine = ["Gasoline", "Super 95", "Regular", "Super E10 95", "Super Plus 98", "Super Plus E10 98", "Others"]
lpg = ["LPG", "Liquid petroleum gas", "CNG", "Biogas", "Domestic gas H"]

def fueltype(x):
    if x in benzine:
        return "Benzine"
    elif x in lpg:
        return "LPG/CNG"
    else:
        return x

df["fuel"] = df.fuel.apply(fueltype)
df.fuel.value_counts(dropna=False)

Benzine     8551
Diesel      7299
LPG/CNG       64
Electric       5
Name: fuel, dtype: int64

### Column 36: Consumption

In [103]:
df["Consumption"].astype("str").value_counts(dropna=False)

nan                                                                                                 1906
[['3.9 l/100 km (comb)'], ['4.1 l/100 km (city)'], ['3.7 l/100 km (country)']]                       304
[['4.2 l/100 km (comb)'], ['5 l/100 km (city)'], ['3.7 l/100 km (country)']]                         276
[['5.4 l/100 km (comb)'], ['6.8 l/100 km (city)'], ['4.5 l/100 km (country)']]                       257
[['3.8 l/100 km (comb)'], ['4.3 l/100 km (city)'], ['3.5 l/100 km (country)']]                       253
                                                                                                    ...
[['4.2 l/100 km (comb)'], ['5.3 l/100 km (city)'], ['3.6 l/100 km (country)']]                         1
['\n', '5.1 l/100 km (comb)', '\n', '6.4 l/100 km (city)', '\n', '4.3 l/100 km (country)', '\n']       1
[['4.6 l/100 km (comb)'], ['5.4 l/100 km (city)'], ['6.7 l/100 km (country)']]                         1
['\n', '6.3 l/100 km (comb)', '\n', '\n', '\n']                                                        1
['\n', '7.4 l/100 km (comb)', '\n', '9.6 l/100 km (city)', '\n', '6 l/100 km (country)', '\n']         1
Name: Consumption, Length: 882, dtype: int64

In [104]:
df.Consumption = df.Consumption.astype("str")

In [105]:
df["cons_comb"] = df.Consumption.str.extract("(\d.\d|\d).+com", expand=True).astype("float")
df["cons_city"] = df.Consumption.str.extract("(\d.\d|\d).+ci", expand=True).astype("float")
df["cons_country"] = df.Consumption.str.extract("(\d.\d|\d).+cou", expand=True).astype("float")

In [106]:
df["cons_comb"].value_counts(dropna=False).head()

NaN     2033
5.40     770
3.90     733
4.00     717
5.10     657
Name: cons_comb, dtype: int64

In [107]:
df["cons_city"].value_counts(dropna=False).head()

NaN     2436
5.40     726
3.90     721
4.00     709
5.10     615
Name: cons_city, dtype: int64

In [108]:
df["cons_country"].value_counts(dropna=False).head()

NaN     2376
5.40     730
3.90     722
4.00     710
5.10     619
Name: cons_country, dtype: int64

In [109]:
df.drop("Consumption", axis=1, inplace=True)

### Column 37: CO2 Emission

In [110]:
df["CO2 Emission"].astype("str").value_counts(dropna=False)

nan                              1808
['\n120 g CO2/km (comb)\n']       740
[[], [], []]                      628
['\n99 g CO2/km (comb)\n']        545
['\n97 g CO2/km (comb)\n']        537
                                 ...
['\n14 g CO2/km (comb)\n']          1
['\n1,060 g CO2/km (comb)\n']       1
['\n51 g CO2/km (comb)\n']          1
['\n165 g CO2/km (comb)\n']         1
['\n193 g CO2/km (comb)\n']         1
Name: CO2 Emission, Length: 124, dtype: int64

In [111]:
df["co2_emission"] = df["CO2 Emission"].str[0].str.strip().str.replace(",", "").str.extract("(\d+)").astype("float")
df.drop("CO2 Emission", axis = 1, inplace = True)
df.co2_emission.value_counts(dropna=False)

NaN        2436
120.00      740
99.00       545
97.00       537
104.00      501
           ...
14.00         1
1060.00       1
51.00         1
165.00        1
193.00        1
Name: co2_emission, Length: 123, dtype: int64

### Column 38: Emission Class

In [112]:
df["Emission Class"].astype("str").value_counts(dropna=False)

['\nEuro 6\n']          10139
nan                      3021
['\nEuro 6d-TEMP\n']     1845
[[], [], []]              607
['\nEuro 6c\n']           127
['\nEuro 5\n']             78
['\nEuro 6d\n']            62
['\nEuro 4\n']             40
Name: Emission Class, dtype: int64

In [113]:
df["emission_class"] = [item[0] if type(item) == list else item for item in df["Emission Class"]]
df["emission_class"] = df["emission_class"].str.strip("\n")
df["emission_class"].value_counts(dropna=False)

Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: emission_class, dtype: int64

In [114]:
df["emission_class"].replace(["Euro 6d-TEMP", "Euro 6c", "Euro 6d"], "Euro 6", inplace = True)
df["emission_class"].value_counts(dropna=False)

Euro 6    12173
NaN        3628
Euro 5       78
Euro 4       40
Name: emission_class, dtype: int64

In [115]:
df.drop("Emission Class", axis = 1, inplace = True)

### Column 39: Comfort & Convenience

In [116]:
df["Comfort_Convenience"].astype("str").value_counts(dropna=False).head()

nan                                                                                                                                                                                                                                                                                                                                                                                                       920
['Air conditioning', 'Electrical side mirrors', 'Hill Holder', 'Power windows']                                                                                                                                                                                                                                                                                                                           216
['Air conditioning', 'Electrical side mirrors', 'Power windows']                                                                                                                                                                                                                                                                                                                                          134
['Air conditioning', 'Power windows']                                                                                                                                                                                                                                                                                                                                                                     130
['Air conditioning', 'Armrest', 'Automatic climate control', 'Cruise control', 'Electrical side mirrors', 'Leather steering wheel', 'Light sensor', 'Lumbar support', 'Multi-function steering wheel', 'Navigation system', 'Park Distance Control', 'Parking assist system sensors front', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Seat heating', 'Start-stop system']    105
Name: Comfort_Convenience, dtype: int64

In [117]:
df["comfort_convenience"] = [",".join(item) if type(item) == list else item for item in df["Comfort_Convenience"]]
df.drop("Comfort_Convenience", axis = 1, inplace = True)
df.comfort_convenience.value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                   216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                               134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                       130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                   105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
Air conditioning,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system,Tinted windows                                                                                                                                                                                                           1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof                                                                                                1
Air conditioning,Armrest,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system,Tinted windows                                                                                                                 1
Air conditioning,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating                                                                                                                                                                                                                1
Air conditioning,Automatic climate control,Cruise control,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof      1
Name: comfort_convenience, Length: 6199, dtype: int64

### Column 40: Entertainment & Media

In [118]:
df["Entertainment_Media"].astype("str").value_counts(dropna=False).head()

nan                                                                                               1374
['Bluetooth', 'Hands-free equipment', 'On-board computer', 'Radio', 'USB']                        1282
['Bluetooth', 'Hands-free equipment', 'MP3', 'On-board computer', 'Radio', 'USB']                  982
['Bluetooth', 'CD player', 'Hands-free equipment', 'MP3', 'On-board computer', 'Radio', 'USB']     783
['On-board computer', 'Radio']                                                                     487
Name: Entertainment_Media, dtype: int64

In [119]:
df["entertainment_media"] = [",".join(item) if type(item) == list else item for item in df["Entertainment_Media"]]
df.drop("Entertainment_Media", axis = 1, inplace = True)
df.entertainment_media.value_counts(dropna=False)

NaN                                                                                                 1374
Bluetooth,Hands-free equipment,On-board computer,Radio,USB                                          1282
Bluetooth,Hands-free equipment,MP3,On-board computer,Radio,USB                                       982
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,USB                             783
On-board computer,Radio                                                                              487
                                                                                                    ...
Bluetooth,CD player,Digital radio,Hands-free equipment,Radio                                           1
CD player,Hands-free equipment,MP3,Radio,USB                                                           1
MP3,Radio,Sound system,USB                                                                             1
Bluetooth,MP3,On-board computer,Radio,Television,USB                                                   1
Bluetooth,CD player,Hands-free equipment,MP3,On-board computer,Radio,Sound system,Television,USB       1
Name: entertainment_media, Length: 347, dtype: int64

### Column 41: Extras

In [120]:
df["Extras"].astype('str').value_counts(dropna=False)

['Alloy wheels']                                                                                                                 3245
nan                                                                                                                              2962
['Alloy wheels', 'Touch screen']                                                                                                  697
['Alloy wheels', 'Voice Control']                                                                                                 577
['Alloy wheels', 'Touch screen', 'Voice Control']                                                                                 541
                                                                                                                                 ...
['Alloy wheels', 'Catalytic Converter', 'Shift paddles', 'Sport package', 'Sport seats', 'Sport suspension', 'Voice Control']       1
['Alloy wheels', 'Catalytic Converter', 'Roof rack', 'Sport package', 'Sport seats', 'Trailer hitch']                               1
['Alloy wheels', 'Catalytic Converter', 'Ski bag', 'Sport package', 'Voice Control']                                                1
['Catalytic Converter', 'Roof rack', 'Sport seats', 'Sport suspension']                                                             1
['Alloy wheels', 'Shift paddles', 'Ski bag', 'Sport seats', 'Sport suspension', 'Touch screen', 'Voice Control']                    1
Name: Extras, Length: 660, dtype: int64

In [121]:
df["extras"] = [",".join(item) if type(item) == list else item for item in df["Extras"]]
df.drop("Extras", axis = 1, inplace = True)
df.extras.value_counts(dropna=False).head()

Alloy wheels                               3245
NaN                                        2962
Alloy wheels,Touch screen                   697
Alloy wheels,Voice Control                  577
Alloy wheels,Touch screen,Voice Control     541
Name: extras, dtype: int64

### Column 42: Safety & Security

In [122]:
df["Safety_Security"].astype("str").value_counts(dropna=False).head()

nan                                                                                                                                                                                                                                                                                                   982
['ABS', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Electronic stability control', 'Fog lights', 'Immobilizer', 'Isofix', 'Passenger-side airbag', 'Power steering', 'Side airbag', 'Tire pressure monitoring system', 'Traction control']                                  538
['ABS', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Electronic stability control', 'Immobilizer', 'Isofix', 'Passenger-side airbag', 'Power steering', 'Side airbag', 'Tire pressure monitoring system', 'Traction control']                                                480
['ABS', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Electronic stability control', 'Immobilizer', 'Isofix', 'Passenger-side airbag', 'Power steering', 'Side airbag', 'Tire pressure monitoring system', 'Traction control', 'Xenon headlights']                            275
['ABS', 'Central door lock', 'Daytime running lights', 'Driver-side airbag', 'Electronic stability control', 'Fog lights', 'Immobilizer', 'Isofix', 'LED Daytime Running Lights', 'Passenger-side airbag', 'Power steering', 'Side airbag', 'Tire pressure monitoring system', 'Traction control']    272
Name: Safety_Security, dtype: int64

In [123]:
df["safety_security"] = [",".join(item) if type(item) == list else item for item in df["Safety_Security"]]
df.drop("Safety_Security", axis = 1, inplace = True)
df.safety_security.value_counts(dropna=False).head()

NaN                                                                                                                                                                                                                                                        982
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                               538
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control                                          480
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Immobilizer,Isofix,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control,Xenon headlights                         275
ABS,Central door lock,Daytime running lights,Driver-side airbag,Electronic stability control,Fog lights,Immobilizer,Isofix,LED Daytime Running Lights,Passenger-side airbag,Power steering,Side airbag,Tire pressure monitoring system,Traction control    272
Name: safety_security, dtype: int64

### Column 43: description

In [124]:
df["description"].astype("str").value_counts(dropna=False).sample(5)

['\n', 'Getriebe:', ' Automatik', 'Technik:', ' Bordcomputer, Start-Stop-Automatik', 'Assistenten:', ' Regensensor, Lichtsensor, Berganfahrassistent', 'Komfort:', ' Klimaanlage, Servolenkung, Zentralverriegelung, Elektrischer Fensterheber, Sitzheizung, Elektrische Aussenspiegel, Teilbare Ruecksitzlehne, Tempomat, Multifunktionslenkrad, Innenspiegel autom. abblendbar, Innenraumfilter, Lenksaeule einstellbar, ParkDistanceControl vorne und hinten, Lederlenkrad', 'Sicht:', ' Tagfahrlicht, Colorverglasung, Aussenspiegel beheizbar', 'Sicherheit:', ' ABS, Airbag, Beifahrer-Airbag, Seitenairbags, ESP, Reifendruckkontrolle, Traktionskontrolle, Kopfairbag, Kindersitzbefestigung, Pannenkit', 'Entertainment:', ' Radio, Telefonvorbereitung, AUX-In, USB-Anschluss, MP3, Bluetooth, Freisprecheinrichtung, Apple CarPlay, Android Auto, Sprachsteuerung, Touchscreen', 'Qualität:', ' Garantie, Scheckheftgepflegt, HUAU neu, Nichtraucherfahrzeug', 'Sonstiges:', ' Katalysator, Stossfaenger in Wagenfarbe, Lenkradheizung, Allwetterreifen, Winterpaket', 'Weiteres:', ' Seitenairbag, Fahrzeug-ID: 0048VN3N, Standort: Lünen, 12v Steckdose in Mittelkonsole, 2 Kopfstützen hinten Außen Höheneinstellbar, B-Säule in Schwarz, Easytronic-Schaltkulisse Mattchrom, Elektronische Bremskraftverteilung, Fußraumteppiche Velours 4-Teilig, Schnee Weiß (Uni), Stoff Spot Anthrazit mit Dekor in Armaturent, 15-ALLWETTERREIFEN 185/65 R15, Komfort-Paket, 2 Zündschlüssel davon einer klappbar, Dekor (Türverkleidung) High Gloss Black, Beifahrersitz 2-Fach Einstellbar (Länge), Kopfstuetzen, Radio R 4.0 Intellilink, Berg-Anfahr-Assistent, Fensterzierleiste Seitlich Umlaufend in Sch, SICHT-AUSSTATTUNG, Halogen Scheinwerfer mit Tagfahrlicht, 3. Bremsleuchte, Adaptives Bremslicht, Fußgängerschutz, Hochschaltempfehlung, Reifen-Reparatur-Set, Türaußengriffe in Wagenfarbe, 15-STAHLRäDER 6 J X 15 MIT RADABDECKUNG, Vorrüstung Für Kindersitzbefestigungssystem I, Auskuppelnde Sicherheitspedaleprs, Innenraumbeleuchtung vorn, Make-Up-Spiegel in Sonnenblende Fahrerseite, Komfortsitze, Service-Intervall-Anzeige, RüCKSITZLEHNE 1/3 UND 2/3 GETEILT UMKLAPPBAR, Reifendruck-Kontrollsystem Mitreifendruckverl, Heckklappengriff mit Sensorfeld, Knopf Zum Ver-/ und Entriegelnder Türen in De, PYROTECHNISCHE GURTSTRAFFER VORN, Leuchtweitenregulierung, Waermeschutzverglasung, Lenkung verstellbar, Seitenaufprallschutz, Leseleuchten vorn (Inkl. Mikrofon Für Freisp, STEUERUNGSSCHLüSSEL MJ 2018 5A, Warnlampe Handbremse, Sitzhoehenverstellung, FENSTERHEBER ELEKTRISCH VORN TIPPFUNKTION, Vordersitze mit Easy Entry -Einstiegshilfe, GURTWARNER FüR NICHT ANGELEGTEGURTE VORN BZW, 12 Monate CAR-Garantie, Ansprechpartner: Michael Kalapati Tel. 02306/20203-25, Komfort-Paket (1), Audiosystem R 4.0 IntelliLink, Sonderlackierung Brillant, Sicht-Paket, Info-Display groß, Sonnenblenden mit Spiegel, Audiobedienung am Lenkrad, Einschaltautomatik für Fahrlicht, Innenspiegel mit Abblendautomatik, Lederlenkrad - 3 Speichen, Lenkrad heizbar, Multimedia-Schnittstelle, Sitzheizung vorn, Telefon-Vorbereitung mit Bluetooth-Schnittstelle, Winter-Paket, 12V-Steckdose, Beifahrerairbag abschaltbar, Berg-Anfahr-Assistent - HSA Hill Start Assist, Bremsassistent, Drehzahlmesser, Easytronic - automatisiertes Schaltgetriebe (5-Gang), Ecoflex, Elektr. Bremskraftverteilung (EBD), Elektron. Stabilitäts-Programm, Elektron. Traktionskontrolle, Isofix-Aufnahmen für Kindersitze im Fond, Pollenfilter, Servolenkung elektronisch, Servolenkung geschwindigkeitsabhängig, Sitzhöhenverstellung Fahrersitz, Start/Stop-Anlage, Tagfahrlicht, Türgriffe lackiert, ZV mit Fernbedienung', '... Änderungen, Zwischenverkauf und Irrtümer vorbehalten.', ' by CG360.de\n']    1
['\nModelreeks: ', 'sep 2018 - 2019', 'Wielbasis: ', '288 cm', 'Acceleratie (0-100): ', '8,0 s', 'Topsnelheid: ', '224 km/u', 'Interieurkleur: ', 'Donker grijs', 'Onderhoudsboekjes: ', 'Aanwezig (dealer onderhouden)', 'Aantal sleutels: ', '2 (2 handzenders)', 'Fabrieksgarantie: ', 'Ja', 'Motorrijtuigenbelasting: ', '€ 224 - 252 per kwartaal', 'Optioneel afleverpakket (zonder meerprijs): ', 'BOVAG 40-puntencheck:', ' https://mijn.bovag.nl/downloads/ondernemerschap/viabovag-nl/checklist40puntencheck.pdf', 'Aanvullende opties en accessoires', '2 stoelen op derde rij', '4-wiel besturing', 'Achteropkomend verkeer waarschuwing', 'Achterstoelen verschuifbaar', 'Achterstoelen verwarmd', 'Adaptief demping systeem', 'Airbag(s) hoofd achter', 'Airbag(s) hoofd voor', 'Airco separaat achter', 'Alarm klasse 1(startblokkering)', 'Autonomous Emergency Braking', 'Autotelefoonvoorbereiding met bluetooth', 'Bestuurdersstoel in hoogte verstelbaar', 'Binnenspiegel automatisch dimmend', 'bots waarschuwing systeem', 'Buitenspiegels elektrisch inklapbaar', 'Buitenspiegels elektrisch verstel- en verwarmbaar', 'Chroom delen exterieur', 'Elektrische ramen achter', 'Elektrisch glazen panorama-dak', 'Elektrisch verstelb. bestuurdersstoel met geheugen', 'Elektrisch verstelbare passagiersstoel', 'Elektronische remkrachtverdeling', 'Extra getint glas', 'Fabrieksgarantie', 'grootlichtassistent', 'Hoofdsteunen actief', 'keyless start', 'koplampreiniging', 'LED achterlichten', 'Multimedia-voorbereiding', 'Pack winter', 'Panoramische voorruit', 'Passagiersstoel in hoogte verstelbaar', 'Stuur verstelbaar', 'Volledig digitaal instrumentenpaneel', 'Voorstoel(en) met massagefunctie', 'Voorstoelen verwarmd', 'Warmtewerende voorruit', 'Zonnescherm zijruiten', '\n']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   1
['\n', 'Vorbesitz:\xa0Neuwagen ', 'Modell:\xa0Opel Insignia\xa0B Sports Tourer\xa01.6 Turbo Innovation Automatik\xa0--- Neupreis: 42.605,-EURO.', 'Bestellinfo', ':\xa0', 'Fahrzeug vorbestellt, Ankunft ', 'August ', '2019', 'Innovation Ausstattung:', 'Modelljahr 2019', 'Start/Stopp System', 'Airbag Fahrer-/Beifahrerseite', 'Kopf-Airbag-System', 'Kopfstützen hinten', 'Audio-Navigationssystem IntelliLink Navi 4.0 ', 'Touchscreen,\xa07 Zoll Farbdisplay, Mobiltelefonvorbereitung Bluetooth, Freisprecheinrichtung, Europa-Navigationssystem, USB Port, Live Verkehrstechnik\xa0', 'Digitaler Radioempfang DAB+', 'Tempomat und Bordcomputer', 'Dachantenne im Haifischflossen-Design', 'Elektron. Stabilitäts-Programm Plus (ESP)', 'Elektron. Traktionskontrolle', 'Elektr. Parkbremse', ' inkl. Berganfahr-Assistent', 'Fensterheber elektrisch vorn und hinten', 'Heckleuchten in LED Design', 'Isofix-Aufnahmen für Kindersitz an Rücksitz', 'Karosserie: 5-türig/Kombi', 'Dachreling Silber eloxiert', 'Chromzierleisten an der Oberseite von Türen', 'Sicht-Paket:', ' Automatisches Fahrlicht, Innenspiegel autom. abblendend', 'IntelliLux LED-Matrix Scheinwerfer', ' mit individueller Lichtverteilung und folgenden Funktionen: Stadtlicht, Autobahnlicht, Landstraßenlicht, Statisches Kurvenlicht, Abbiegelicht, LED Rückleuchten uvm.', 'Kindersicherung in den hinteren Türen', '2-Zonen Klimaautomatik', ' inkl. getrennter Temperaturregelung', '3-Speichen Sportlederlenkrad', ' inkl. Multifunktion', 'Reifendruckwarner', 'Motor 1.6 Turbo\xa0Benziner\xa0- 147 kW/200 PS', '6-Stufen Automatikgetriebe', 'Schadstoffarm nach Abgasnorm Euro 6D-Temp', 'Sonnenblenden mit Spiegel (beleuchtet)', 'Zentralverriegelung per Funkfernbedienung', '\xa0Sonderausstattung:', 'Metallic Lackierung Onyx Schwarz', 'Außenspiegel elektrisch verstellbar, beheizbar und\xa0elektrisch einklappbar', 'AGR-Ergonomie\xa0Teilleder Sitz Monita ', 'in', ' Schwarz', ', ', 'Fahrerseite', ' mit ausziehbarer Oberschenkelauflage, Elektrischer Lendenwirbelstütze und einstellbarer Höhe, Länge und Neigung,\xa0uvm.', 'Quickheat-Schnellheizsystem', 'Sitzheizung ', 'und', ' Lenkradheizung', 'Einparkhilfe, Parkpilotsystem vorn und hinten inkl. akustischer Warnmeldung und Anzeige', 'Rückfahrkamera', ' inkl. Toter-Winkel-Warner', 'Schlüsselloses Schließ ', 'und', ' Start System Keyless Open', 'Solar-Protect-Wärmeschutzverglasung ,star getönt', 'Solar-Reflect-WIndschutzscheibe, wärmeabweisend', 'Nebelscheinwerfer vorn', 'Frontkamera', ' inkl. Verkehrsschildererkennung, Spurassistenten, Kollissionswarner, autom. Gefahrenbremsung.', 'USB Schnitstellen hinten', 'Elektrische Sensorgesteuerte Heckklappe ', 'inkl.Fußsensor', ' ', '18 Zoll Leichtmtallfelgen', ' im 10-Doppel-Speichen-Design Silber auf 245/45 R18 Sommerreifen', 'Reifendruckkontrollsystem', 'Geräuschreduzierende Seitenscheiben', '24 Monate Neuwagengarantie ab Erstzulassung, ', '12 Monate Mobilitätsschutz im Pannenfall', 'Irrtum und Zwischenverkauf vorbehalten', 'Unser Service: ', 'Bundesweite Auslieferungen und Zulassung\xa0möglich', 'Kostenlose Fahrzeugbewertung Ihres aktuellen Fahrzeuges unter www.staiger-kauft.de', '\n']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
['\nA3 1.0TFSI', '08/2018', '18000KM', 'Showroomstaat!!SUPERDEAL!!!', '*OPTIES', '*Metallic', '*Led/xenon', '*Navi', '*Bluetooth', '*Multifunctioneel stuur', '*Climatronic', '*Cruisecontrol', '*Verw. zetels', '*Parkeersensoren achter', '*Alu velgen 16"', '*Licht/regensensor', '*AUX', '*Enz....', 'ONDER FABRIEKSGARANTIE TEM 30/07/2021!!!!', 'Overname mogelijk', '0477966397', '\n']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
['\n7 Haut parleurs ABS Accoudoir central AV Aide au démarrage en côte Aide au freinage d urgence Airbag conducteur Airbag passager déconnectable Airbags latéraux avant Airbags rideaux AV et AR Antidémarrage électronique Antipatinage Appel d Assistance Localisé Appel d Urgence Localisé Appuis-tête avant actifs Appui-tête conducteur réglable hauteur Appui-tête passager réglable en hauteur Arrêt et redémarrage auto. du moteur Bacs de portes arrière Bacs de portes avant Banquette 1 3-2 3 Banquette AR rabattable Banquette arrière 3 places Becquet arrière Boite à gants fermée Borne Wi-Fi Boucliers AV et AR couleur caisse Calandre chromée Capteur de luminosité Capteur de pluie Ceinture de vitrage chromée Ceintures avant ajustables en hauteur Clim automatique bi-zones Commandes du système audio au volant Commandes vocales Compte tours Contrôle de freinage en courbe Contrôle élect. de la pression des pneus EBD Ecran multifonction couleur Ecran tactile ESP Essuie-glace arrière Feux arrière à LED Feux de freinage d urgence Feux de jour à LED Filtre à particules Filtre à Pollen (Ambiance Sens)\n']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1
Name: description, dtype: int64

In [125]:
# The "description" column has records in German. We have decided to drop this feature.

df.drop("description", axis=1, inplace=True)

### Column 44: Emission Label

In [126]:
df["Emission Label"].astype("str").value_counts(dropna=False)

nan                       11934
['\n4 (Green)\n']          3553
['\n1 (No sticker)\n']      381
[[], [], []]                 40
['\n5 (Blue)\n']              8
['\n3 (Yellow)\n']            2
['\n2 (Red)\n']               1
Name: Emission Label, dtype: int64

In [127]:
# The number of null values pretty much. It can be dropped.

df.drop(columns = ['Emission Label'], inplace =True)

### Column 45: Gears

In [128]:
df["Gears"].astype("str").value_counts(dropna=False)

['\n6\n']     5822
nan           4712
['\n5\n']     3239
['\n7\n']     1908
['\n8\n']      224
['\n9\n']        6
['\n1\n']        2
['\n3\n']        2
['\n4\n']        2
['\n2\n']        1
['\n50\n']       1
Name: Gears, dtype: int64

In [129]:
df["gears"] = df.Gears.str[0].str.strip("\n")
df.drop("Gears", axis = 1, inplace = True)
df.gears.value_counts(dropna=False)

6      5822
NaN    4712
5      3239
7      1908
8       224
9         6
1         2
3         2
4         2
2         1
50        1
Name: gears, dtype: int64

### Column 46: Country version

In [130]:
df["Country version"].astype("str").value_counts(dropna=False)

nan                       8333
['\nGermany\n']           4502
['\nItaly\n']             1038
['\nEuropean Union\n']     507
['\nNetherlands\n']        464
['\nSpain\n']              325
['\nBelgium\n']            314
['\nAustria\n']            208
['\nCzech Republic\n']      52
['\nPoland\n']              49
['\nFrance\n']              38
['\nDenmark\n']             33
['\nHungary\n']             28
['\nJapan\n']                8
['\nSlovakia\n']             4
['\nCroatia\n']              4
['\nSweden\n']               3
['\nRomania\n']              2
['\nBulgaria\n']             2
['\nLuxembourg\n']           1
['\nSwitzerland\n']          1
['\nSlovenia\n']             1
['\nEgypt\n']                1
['\nSerbia\n']               1
Name: Country version, dtype: int64

In [131]:
df["Country version"] = df["Country version"].str[0].str.strip("\n")
df["Country version"].value_counts(dropna=False)

NaN               8333
Germany           4502
Italy             1038
European Union     507
Netherlands        464
Spain              325
Belgium            314
Austria            208
Czech Republic      52
Poland              49
France              38
Denmark             33
Hungary             28
Japan                8
Slovakia             4
Croatia              4
Sweden               3
Romania              2
Bulgaria             2
Luxembourg           1
Switzerland          1
Slovenia             1
Egypt                1
Serbia               1
Name: Country version, dtype: int64

In [132]:
# Where a car is made does not influence consumers' buying decisions, so this feature can be dropped.

df.drop("Country version", axis=1, inplace=True)

## The Final Dataframe After Cleaning

In [133]:
# There were 54 columns at the begining of the cleaning process.
# There remained 33 features for further analysis.

df.shape

(15919, 33)

In [134]:
df.head(3).T

,0,1,2
make_model,Audi A1,Audi A1,Audi A1
body_type,Sedans,Sedans,Sedans
price,15770,14500,14640
vat,VAT deductible,Price negotiable,VAT deductible
km,56013.00,80000.00,83450.00
hp_kw,66.00,141.00,85.00
type,Used,Used,Used
previous_owners,2.00,NaN,1.00
inspection_new,Yes,NaN,NaN
warranty,NaN,NaN,NaN
age,3.00,2.00,3.00
body_color,Black,Red,Black
paint_type,Metallic,NaN,Metallic
upholstery_type,Cloth,Cloth,Cloth
upholstery_color,Black,Grey,Black
nr_of_doors,5.00,3.00,4.00
nr_of_seats,5.00,4.00,4.00
gearing_type,Automatic,Automatic,Automatic
displacement_cc,1422.00,1798.00,1598.00
cylinders,3.00,4.00,NaN
weight_kg,1220.00,1255.00,NaN
drive_chain,front,front,front
fuel,Diesel,Benzine,Diesel
cons_comb,3.80,5.60,3.80
cons_city,3.80,5.60,3.80
cons_country,3.80,5.60,3.80
co2_emission,99.00,129.00,99.00
emission_class,Euro 6,Euro 6,Euro 6
comfort_convenience,"Air conditioning,Armrest,Automatic climate con...","Air conditioning,Automatic climate control,Hil...","Air conditioning,Cruise control,Electrical sid..."
entertainment_media,"Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,Hands-free equipment,On-board comput...","MP3,On-board computer"
extras,"Alloy wheels,Catalytic Converter,Voice Control","Alloy wheels,Sport seats,Sport suspension,Voic...","Alloy wheels,Voice Control"
safety_security,"ABS,Central door lock,Daytime running lights,D...","ABS,Central door lock,Central door lock with r...","ABS,Central door lock,Daytime running lights,D..."
gears,NaN,7,NaN

In [135]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   make_model           15919 non-null  object
 1   body_type            15859 non-null  object
 2   price                15919 non-null  int64
 3   vat                  11406 non-null  object
 4   km                   14895 non-null  float64
 5   hp_kw                15831 non-null  float64
 6   type                 15917 non-null  object
 7   previous_owners      9279 non-null   float64
 8   inspection_new       3932 non-null   object
 9   warranty             4853 non-null   float64
 10  age                  14322 non-null  float64
 11  body_color           15322 non-null  object
 12  paint_type           10147 non-null  object
 13  upholstery_type      11048 non-null  object
 14  upholstery_color     10841 non-null  object
 15  nr_of_doors          15707 non-null  float64
 16  nr_of_seats          14942 non-null  float64
 17  gearing_type         15919 non-null  object
 18  displacement_cc      15423 non-null  float64
 19  cylinders            10239 non-null  float64
 20  weight_kg            8945 non-null   float64
 21  drive_chain          9061 non-null   object
 22  fuel                 15919 non-null  object
 23  cons_comb            13886 non-null  float64
 24  cons_city            13483 non-null  float64
 25  cons_country         13543 non-null  float64
 26  co2_emission         13483 non-null  float64
 27  emission_class       12291 non-null  object
 28  comfort_convenience  14999 non-null  object
 29  entertainment_media  14545 non-null  object
 30  extras               12957 non-null  object
 31  safety_security      14937 non-null  object
 32  gears                11207 non-null  object
dtypes: float64(14), int64(1), object(18)
memory usage: 4.0+ MB

## The End of Part-1

In [136]:
df.to_csv("scout_cleaned.csv", index=False)